@import "responsive";

$bule-226DA9: #226da9;
$blue-0D2B43: #0d2b43;
$text-main-color: #031432;
$grey-F0F2F5: #f0f2f5;
$yellow-EDD271: #edd271;
$grey-D9D9D9: #d9d9d9;
$white-color: #fff;
$grey-252525: #252525;
$blue-6C87AE: #6c87ae;
$shadow-0309320A: #0309320a;
$shadow-0000001A: #0000001a;
$black-3E3E3E: #3e3e3e;
$grey-999999: #999999;

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@mixin flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

@mixin grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: center;
  gap: 1rem;
}

@mixin grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  gap: 1rem;
}

@mixin grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  gap: 1rem;
}

.flex-col-center {
  @include flex-col-center();
}

.flex-col-between {
  @include flex-col-between();
}

.flex-row-center {
  @include flex-row-center();
}

.flex-row-between {
  @include flex-row-between();
}

.grid-cols-4 {
  @include grid-cols-4();
}

.grid-cols-3 {
  @include grid-cols-3();
}

.grid-cols-2 {
  @include grid-cols-2();
}

.grid-start-item {
  justify-items: start;
}

header {
  box-shadow: 4px 4px 8px 4px $grey-F0F2F5;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: white;
}
.header {
  width: 100%;
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;

  &__first {
    @include flex-row-between();
    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    width: 100px;
    @include tablet {
      width: 128px;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__search {
    width: 100%;
    @include flex-row-center();
    background-color: transparent;
    border-radius: 10px;

    @include tablet {
      max-width: 360px;
      background-color: $grey-F0F2F5;
    }

    input {
      width: 100%;
      padding: 0.75rem 1.5rem;
      border: none;
      outline: none;
      background-color: transparent;
    }

    .search-bar {
      width: 100%;
      &--desktop {
        display: none;
        @include tablet {
          @include flex-row-center();
        }
      }

      &--mobile {
        display: flex;
        justify-content: end;
        background-color: transparent;
        img {
          width: 24px;
        }
        @include tablet {
          display: none;
        }
      }
      .btn-search {
        min-width: 72px;
        border: none;
        background-color: inherit;
        border-radius: 10px;
        &--desktop {
          background: linear-gradient(to right, $bule-226DA9, $blue-0D2B43);
          padding: 0.75rem 1rem;
        }
        &--mobile {
          padding: 0.5rem 1rem;
          background: transparent;
        }
      }
    }
  }

  &__contacts {
    @include flex-row-center();
    display: none;
    gap: 2rem;
    @include desktop {
      display: flex;
      gap: 1rem;
    }

    .contacts {
      @include flex-row-center();

      &--name {
        display: none;
        @include desktop {
          display: block;
        }
      }
    }
  }

  &__account {
    display: none;
    @include desktop-xl {
      @include flex-row-center();
      gap: 0;
    }
    .account-method {
      padding: 0 2rem;
      border-right: 1px solid $yellow-EDD271;
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }

  &__menu-mobile {
    width: 24px;
    img {
      width: 24px;
    }

    @include tablet {
      width: 32px;
      img {
        width: 32px;
      }
    }
    @include desktop-xl {
      display: none;
      width: 0;
    }
  }

  &__second {
    display: none;
    @include desktop {
      @include flex-row-center();
      max-width: 1200px;
      margin: 0 auto;
      border-top: 1px solid $bule-226DA9;
      padding: 1rem 0 0 0;
    }

    .tab-items {
      padding: 0 0.5rem;
    }
    .search-result {
      color: $bule-226DA9;
      font-size: 18px;
    }
  }
}

.btn-base {
  width: fit-content;
  min-width: 72px;
  border: none;
  background: linear-gradient(to right, $bule-226DA9, $blue-0D2B43);
  padding: 0.75rem 1rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;

  &--blue-226DA9 {
    padding: 1rem 2rem;
    border-radius: 6rem;
    color: $yellow-EDD271;
    background: $bule-226DA9;
  }

  &--yellow {
    padding: 1rem 2rem;
    border-radius: 6rem;
    box-shadow: 0px 8px 23px 0px #4184f73d;
    color: $bule-226DA9;
    background: $yellow-EDD271;
  }
}

#banner-carousel {
  width: 100%;
  aspect-ratio: 2048/733;
  margin-bottom: 1rem;

  .carousel-item {
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: 2048/733;
      object-fit: cover;
    }
  }
  .carousel-indicators {
    position: relative;
    margin-top: 1rem;

    li {
      background-color: $grey-D9D9D9;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 0 1rem;

      &.active {
        background-color: $bule-226DA9;
      }
    }
  }
}

#featured-news {
  .featured-news-item {
    @include flex-row-between();
    align-items: start;
    width: 100%;
    &__img {
      width: 50%;
      box-shadow: 0px 22px 32px 0px #3f87f729;
      border-radius: 2rem;
      img {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        border-radius: 2rem;
      }
    }

    &__detail {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        font-size: 2rem;
        font-weight: bold;
      }

      p {
        line-height: 1.5rem;
      }
    }
  }
}

.section-item {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  &__header {
    width: 100%;
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    h3 {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &--center {
      text-align: center;
    }
  }

  &__body {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__footer {
    width: 100%;
    @include flex-row-center();
  }
}

.services-card {
  width: 100%;
  border-radius: 1.5rem;
  position: relative;
  @include flex-col-center();
  aspect-ratio: 372/412;
  &--img {
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: 372/412;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }
  &--desc {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.5rem;
    font-size: 20px;
    line-height: 1.25rem;
    color: $white-color;
  }
}

.services-layout {
  width: 100%;
  @include grid-cols-3();
  gap: 2rem;
}

#services {
  .nav-tabs {
    border: none;
    margin-bottom: 1rem;

    .nav-item {
      &:first-child {
        .nav-link {
          padding-left: 0;
        }
      }
    }

    .nav-link {
      color: $grey-252525;
      font-size: 1.25rem;
      font-weight: bold;
      border: none;
      transition: all 0.2s;
      &:hover {
        color: $bule-226DA9;
        scale: 1.05;
      }
    }

    .active {
      color: $bule-226DA9;
    }

    button:focus {
      outline: none;
      outline-offset: none;
    }
  }
}

.doctor-card {
  color: $bule-226DA9;
  @include flex-col-center();
  gap: 1rem;
  &__avt {
    width: 100%;
    aspect-ratio: 384/494;
    border-radius: 1.5rem;
    img {
      width: 100%;
      aspect-ratio: 384/494;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }

  &__name {
    width: 100%;
    text-align: center;
    h3 {
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
    }
    p {
      color: $blue-6C87AE;
    }
  }

  &__dessc {
    color: $text-main-color;
    text-align: center;
  }
}

#team-of-doctors {
  #lst-doctor {
    .carousel-indicators {
      position: relative;
      // background-color: #031432;
      margin: 1rem auto;
      li {
        background-color: $grey-D9D9D9;
      }
      .active {
        background-color: $bule-226DA9;
      }
    }

    .carousel-inner {
      display: flex;
      gap: 1rem;
      .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0 !important;
        width: 80%;
      }
      .active {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

#ctm-feedback {
  .section-item {
    &__header {
      h3 {
        max-width: 676px;
        margin: 0 auto;
      }
    }
  }

  .carousel-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

.ctm-feedback-card {
  width: 100%;
  max-width: 580px;
  @include flex-col-center();
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0px 24px 32px -3px $shadow-0309320A;
  padding: 2rem;
  border-radius: 2rem;
  color: $text-main-color;

  &__desc {
    width: 100%;
  }

  &__rating {
    width: 100%;
    margin-bottom: 1rem;
    &--star {
      width: 100%;
      img {
        width: 100%;
        max-width: 168px;
      }
    }
    &--type {
      color: $blue-6C87AE;
      line-height: 1.5rem;
    }
  }

  &__user {
    width: 100%;
    display: flex;
    gap: 1rem;
    &--avt {
      width: 72px;
      aspect-ratio: 1/1;
      img {
        width: 100%;
        border-radius: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    &--info {
      color: $bule-226DA9;
      h3 {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 600;
      }
    }
  }
}

.news-card {
  width: 100%;
  max-width: 390px;
  @include flex-col-center();
  box-shadow: 0px 0px 20px 0px $shadow-0000001A;
  border-radius: 1.5rem;
  &__header {
    width: 100%;
    aspect-ratio: 389/200;
    overflow: hidden;
    img {
      width: 100%;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      aspect-ratio: 389/200;
      object-fit: cover;
    }
  }
  &__body {
    width: 100%;
    padding: 1rem 1.5rem;
    color: $black-3E3E3E;

    &--title {
      width: 100%;
      line-height: 1.5rem;
      font-weight: bold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 0.75rem;
    }
    &--desc {
      font-size: 14px;
    }
  }
  &__footer {
    width: 100%;
    padding: 0rem 1.5rem 1rem 1.5rem;
    color: $grey-999999;
    margin-bottom: 1rem;
    button {
      color: $grey-999999;
      font-size: 0.75rem;
    }
  }
}

.card-effect {
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-0.75rem);
  }
}

#contact-us {
  width: 100%;
  background-color: $yellow-EDD271;
  color: $grey-252525;
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .contact-method {
    width: 90%;
    height: 100%;
    @include flex-col-between();

    &--item {
      @include flex-row-center();
      gap: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.75rem;
    }

    .contact-method-lst {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1rem;
    }
  }

  .set-calander-box {
    width: 90%;
    border-radius: 1.25rem;
    padding: 2rem;
    background-color: white;
    font-size: 1.25rem;
    @include flex-col-center();
    gap: 1rem;
    .btn-base {
      width: 100%;
    }
  }
}

footer {
  width: 100%;
  background-color: $bule-226DA9;
  color: white;
  .logo-radtech {
    img {
      margin-bottom: 1.5rem;
    }
  }
  .room-location {
    width: 100%;
    line-height: 1.5rem;

    h3 {
      font-size: 1rem;
      font-weight: 700;
    }
    &--contact-method {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .first-part {
    margin-bottom: 2rem;
  }

  .second-part {
    width: 100%;
    border-top: 1px solid white;
    padding-top: 1.5rem;
  }
}
